$color-background = #fafafa
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #AAA
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(239, 78, 15, 0.4)
$color-text =rgb(2, 28, 33)
$color-accent-1 =rgb(216, 15, 15)
$color-accent-2 = rgba(47, 141, 103, 0.8)
$color-accent-3 = rgb(35, 72, 69)
$color-quote =rgb(202, 21, 21)
$highlight = hexo-config("highlight") || "github"
