// by @GabiThume (https://github.com/gabithume)
$color-background = #e2e0de
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #999
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgb(112, 141, 26)
$color-text =rgb(32, 32, 31)
$color-accent-3 =rgb(27, 87, 32)
$color-accent-2 =rgb(53, 94, 116)
$color-accent-1 =rgb(116, 38, 38)
$color-quote =rgb(117, 19, 19)
$highlight = hexo-config("highlight") || "github"
