// by @GabiThume (https://github.com/gabithume)
$color-background = #e2e0de
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #999
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgb(129, 169, 10)
$color-text =rgb(32, 32, 31)
$color-accent-3 =rgb(45, 81, 48)
$color-accent-2 =rgb(73, 130, 80)
$color-accent-1 =rgb(219, 7, 7)
$color-quote =rgb(172, 13, 13)
$highlight = hexo-config("highlight") || "github"
