// by @GabiThume (https://github.com/gabithume)
$color-background =rgb(243, 240, 238)
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #999
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgb(120, 51, 21)
$color-text =rgb(32, 32, 31)
$color-accent-3 =rgb(54, 88, 112)
$color-accent-2 =rgb(73, 128, 143)
$color-accent-1 =rgb(146, 18, 18)
$color-quote =rgb(147, 55, 55)
$highlight = hexo-config("highlight") || "github"
